RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l 

#DirectoryIndex index.php         # Declara el archivo que será tomado como índice del sistema
#IndexIgnore *			# Evita el listado de la carpeta
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#RewriteEngine on
#RewriteRule ^usuario/ modules/usuario/controller.php
#RewriteRule ^cliente/ modules/cliente/controller.php
#RewriteRule ^marca/ modules/marca/controller.php
#RewriteRule ^operacion/ modules/operacion/controller.php
#
#RewriteRule ^operacion/([A-Za-z0-9]+)/?$ modules/operacion/controller.php?event=download&archivo=$1 [L,QSA]
#
#RewriteRule ^principal/([A-Za-z0-9]+)/?$ modules/principal/controller.php?event=$1 [L,QSA]
#RewriteRule ^principal/ modules/principal/controller.php

